<footer>
    <div class="footer">
        <div>
            <h3>About K-Food</h3>
            <p>About</p>
            <p>Gift Card</p>
            <p>Discount Code</p>
        </div>

        <div>
            <h3>Navigate</h3>
            <p><a href="/">Home</a></p>
            <p><a href="/menu">Menu</a></p>
        </div>

        <div>
            <h3>Help & support</h3>
            <p>FAQ</p>
            <p>Testimonials</p>
            <p>Contact Us</p>
            <p>Terms & Conditions</p>
        </div>

    </div>
    <div class="icons">
        <img src="/img/insta.png" alt="">
        <img src="/img/twit.png" alt="">
        <img src="/img/fb.png" alt="">
        <img src="/img/snap.png" alt="">
        <p class="copyright">Copyright © Fall 2020, Eunbi Kong, WEB322NAA</p>
    </div>
</footer>