<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Food</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:ital,wght@1,600&family=Roboto+Mono:wght@300&family=Space+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="imageâ„x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Food_Bank_icon.svg/1024px-Food_Bank_icon.svg.png">
    <link rel="stylesheet" media="all and (min-width:320px)">
</head>