<div class="hero">
    <h1>Buy two Get one 50% off</h1>
    <p>Get farm-fresh ingredients to cook delicious recipes, delivered for FREE to your doorstep.</p>
    <div class="cta">
        <a href="/menu"><button>Get started</button></a>
    </div>
</div>