<header>
    <p class="logo"><a class="logo" href="/">K-Food</a></p>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
        </ul>
    </nav>
    <div>
        {{#if user}}
        <a href="/order/cart"><i class="fa fa-shopping-cart fa-2x" style="padding-right:15px;" aria-hidden="true"></i></a>
        <a href="/user/dashboard" class="dash-name">Hello, {{user.firstName}} {{user.lastName}}</a>
        <button type="button" onclick="location.href='/user/logout'" class="btn2">Logout</button>
        {{else}}
        <button type="button" onclick="location.href='/user/registration'">Sign Up</button>
        <button type="button" onclick="location.href='/user/login'" class="btn2">Login</button>
        {{/if}}
    </div>
</header>