<header>
    <p class="logo"><a class="logo" href="/">K-Food</a></p>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
        </ul>
    </nav>
    <div>
        <a href="/registration"><button>Sign Up</button></a>
        <a href="/login"><button class="btn2">Login</button></a>
    </div>
</header>