<header>
    <p class="logo"><a class="logo" href="/">K-Food</a></p>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
        </ul>
    </nav>
    <div>
        {{#if user}}
        <a href="/logout"><button class="btn2">Logout</button></a>
        <a href="/dash"><button class="btn2">My page</button></a>
        {{else}}
        <a href="/registration"><button>Sign Up</button></a>
        <a href="/login"><button class="btn2">Login</button></a>
        {{/if}}
    </div>
</header>