<link rel="stylesheet" href="/css/registration.css">
<div class="page-content">
<div class="email"><img src="https://www.seekpng.com/png/small/299-2993199_place-order-icon-png-lead-time-icon-png.png" alt="" width="300px">
<h2>Successful your meal-kit order!</h2> <br>
    <p>Thank you for order<br>You can get mail for your order list</p>
    <div class="cta">
        <a href="/"><button>Home</button></a>
    </div>
</div>
</div>