<link rel="stylesheet" href="/registration.css">
<div class="page-content">
<div class="email"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Food_Bank_icon.svg/1024px-Food_Bank_icon.svg.png" alt="" width="300px">
<h2>Welcome</h2> <br>
    <p>Thank you for join with K-Food!<br>You can start Now</p>
    <div class="cta">
        <a href="/"><button>Home</button></a>
    </div>
</div>
</div>